/* TodosList.css */

.todos-list-container {
    background-color: transparent;
    width: 47vw;
    border-radius: 10px;
    margin-top: 1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: auto;
    scrollbar-width: thin;
  }
  
  .todos-list-container::-webkit-scrollbar {
    width: 2px;
  }
  
  .todos-list-container::-webkit-scrollbar-thumb {
    background-color: grey;
  }
  
  .todos-list-container::-webkit-scrollbar-track {
    background-color: transparent;
    height: 10vh;
  }
  
  .list-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .delete-button {
    color: #f44336; /* error.main color */
  }
  